h1 {
    font-family: sans-serif;
    width: 65px;
    color: blue;
  }
    
  #não-ordenada{
    background-color: rgb(206, 102, 65);
    line-height:120%;
  }

  .p-style{
    font-weight: 600;
    background-color: burlywood;
    font-size: 3em;
  }
  
  body{
    font-size: 16px;
  }