.super-mario {
    width: 200px;

  }
  
  .goomba {
    position: absolute;
    width: 100px;
    top: 400px;
    left: 150px;
  }
  
  .baloon {
    position: absolute;
    left: 50%;
    top: 180px;
    z-index: 0;
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 52%;
    top: 220px;
    z-index: 1;

  }
  
  .bowser {
    height: 300px;
    width: 300px;
    position: absolute;
    left: 75%;
    top: 200px;
  }